%tr
  %td{ :colspan => "3", :valign => "top" }
    %table{ :border => "0", :cellpadding => "10", :cellspacing => "0", :width => "100%" }
      %tr
        %td{ :valign => "top" }
          %h1{ :style => "margin: 0 0 6px; font: bold 20px arial; color: #{@config.heading_color};" }
            = t('workarea.storefront.restock_mailer.heading', product_name: @product.name)
          %p{ :style => "margin: 0 0 6px; font: 13px/1.5 arial; color: #{@config.text_color};" }
            = t('workarea.storefront.restock_mailer.message')
%tr
  %td{ :colspan => "3" }
    %table{ :border => "0", :cellpadding => "10", :cellspacing => "0", :style => "color: #{@config.text_color}; font: 13px/1.5 arial; text-align: left; border-collapse: collapse;", :width => "600" }
      %tbody
        %tr
          %td{ :style => "border: 1px solid #{@config.table_border_color};", :width => "150" }
            %table{ :border => "0", :cellpadding => "10", :cellspacing => "0", :style => "color: #{@config.text_color}; font: 13px/1.5 arial; text-align: left; border-collapse: collapse;", :width => "200" }
              %tr
                %td
                  = link_to product_url(@product) do
                    = image_tag(product_image_url(@product.primary_image, :medium_thumb), alt: @product.name)
          %td{ :style => "border: 1px solid #{@config.table_border_color};", :width => "450" }
            %p{ :style => "margin: 0 0 6px; font: 13px/1.5 arial; color: #{@config.text_color};" }
              %a{ :href => "#{storefront.product_url(@product, sku: @variant.sku)}", :style => "color: #{@link_color};", :target => "_blank" }
                = @product.name
            %p{ :style => "margin: 0 0 6px; font: 13px/1.5 arial; color: #{@config.text_color};" }
              = @variant.name
            - @variant.details.each do |name, value|
              %p{ :style => "margin: 0 0 6px; font: 13px/1.5 arial; color: #{@config.text_color};" }
                %strong
                  = name.titleize
                  \:
                = value.first
